.section {
    margin: 20px;
    padding: 5px;
    flex-basis: 400px;
}

.section__header{
    border-bottom: 1px solid #e6e6e6;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

@media(max-width: 767px) {
    .section__header{
        grid-template-columns: 1fr;
    }
}

.section__body {
    padding: 20px;
}