.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    border: 1px solid;
    padding: 10px;
    color: rgb(130, 137, 143);
}

@media(max-width: 767px) {
    .form__input {
        width: 100%;
    }
}

.form__button {
    border: none;
    padding: 10px;
    width: 150px;
    color: white;
    background-color: hsl(180, 100%, 20%);
}

@media(max-width: 767px) {
    .form__button {
        width: 100%;
    }
}

.form__button:hover {
    transform: scale(1.1);
    background-color: hsl(180, 100%, 25%);
}
.form__button:active {
    background: hsl(180, 100%, 35%);
}