.buttons {
    display: flex;
    flex-wrap: wrap;
}

.task__button {
    border: none;
    background-color:rgb(255, 255, 255);
    color: hsl(180, 100%, 25%);
    margin: 0 0 0 20px;
    transition: color 0.3s;
}

.task__button:hover {
    color: hsl(180, 100%, 35%);
}

.task__button:disabled {
    color: rgb(147, 145, 145);
}

@media(max-width: 767px) {
    .task__button {
        flex-basis: 100%;
        margin: 10px;
    }
}